.createpagebtn {
  background-color: #ff5722;

  color: white;

  padding: 5px;

  border-radius: 6px;

  border: none;
}

.cancel {
  background: #f6f6f6;

  color: black;

  padding: 5px;

  font-size: 20px;

  border-radius: 6px;

  border: 1px solid white;
}

.cancel:hover {
  color: white;
}
