.Top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Top h3 {
  font-size: 20px;
  font-weight: 400;
}

.Bolgspage_centerdiv {
  margin-bottom: 20px;
  border-radius: 20px;
}

.Bolgspage_centerdiv img {
  cursor: pointer;
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.Bolgspage_centerdiv h5 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin: 10px;
}

.Bolgspage_centerdiv p {
  margin: 0;
  padding: 0;
  margin: 0px 10px;
}

.Bolgspage_centerdiv h6 {
  font-size: 12px;
  color: gray;
  padding: 0;
  margin: 0;
  margin: 0px 10px;

}

.blog-img {
  position: relative;
}
.blog-img a.tag {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px 10px;
  background-color: rgba(250, 250, 250, 0.8);
  color: var(--primary-color);
  font-size: 12px;
  font-weight: bold;
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: all ease-in-out .3s ;
}
.blog-img a.tag:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .56);
}
.search .form-control {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: transparent;
} 
.search button {
  border: none;
  border: 1px solid #e6e6e6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}